#top {
    color: #fdf9e6;
    font-size: 1.3rem;
    text-wrap: pretty;
}

.one {
    background-color: #da4773; 
}

a.link01 {
    background:#da4773;
}

blockquote {
    border-inline-start: 0.09rem dashed #da4773;
}


