body {
    background-color: #121d0c;
}

#top {
    color: #fdf9e6;
    background-color: #121d0c;
}

.background {
    background-color: #518034;
}

.one {
    background-color: #518034; 
}

a.link01 {
    background: #518034;
}

blockquote {
    border-inline-start: 0.5rem solid #518034;
}

.home {
    color: #518034;
}

.section-title {
    background-color: #121d0c;
}

.active {
    background-color: #518034;
    color: #fdf9e6;
}

#bold {
    text-decoration: underline 0.2rem #518034;
}