@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fira+Code:wght@300..700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kristi&family=Neonderthaw&family=Overpass+Mono:wght@300..700&family=Poiret+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sono:wght@200..800&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Sora:wght@100..800&family=Zilla+Slab+Highlight:wght@400;700&display=swap');


html {
    font-family: 'Boldonse';
}

header {
    align-content: center;
    text-align: center;
    /* background-image: url("../direction-3/pattern.jpg");
    background-size: cover;
    background-blend-mode: hard-light; */
    background-color: #f9e484;
    color: #442f2a;
    /* padding-block: 3rem; */
    max-width: 100%;

    @media (width > 800px) {
	min-height: 30vh;
	}
}


#sub-header{
    color: #442f2a;
    /* padding-block-end: 2rem; */
    padding-block-end: 2rem;

}

nav {
    padding-block-start: 1rem;
}

p {
    color: #442f2a;;
    font-family: 'Sora';
}

h1 {
    font-size: 2rem;
    text-wrap: pretty;
    font-weight: 200;

    @media (width > 800px) {
	font-size: 5rem;
	}

    @media (width > 1000px) {
	font-size: 7rem;
	}
}

.main-nav {
    display: flex;
    justify-content: center;
    margin-inline: 1rem;
}

.main-nav a {
    font-size: 0.7rem;
    padding: 0.75rem 0.75rem;
    display: block;
    text-align: center;

    @media (width > 800px) {
	font-size: 1rem;
    padding: 1rem 1rem;
	}
}

li {
    font-family: 'Sora';
}

#title {
    /* background-color: #a7cf95; */
    padding-block: 1rem;
    padding-inline: 1rem;
}

#date {
    font-size: 1rem;
    padding-block-start: 0.5rem;
}

h2 {
    font-size: 1rem;
    line-height: 1.75rem;
    padding-block-start: 0.5rem;
    color: #56933a;
}

/* author and date */
#authors { 
    font-size: 0.75rem;
    padding-block-start: 0.75rem;
}

#date {
    font-size: 0.75rem;
    font-family: 'Zilla Slab Highlight';
}

/* dotted border */
#title {
    margin-block-end: 1rem;
    border-block-end: dotted;
    border-block-end-width: 0.5rem;
    border-block-end-color: #56933a;;
    border-inline-end: 5rem;
}

#text-container {
    padding-inline: 1rem;

    p {
        padding-block-end: 1rem;
        font-size: 0.85rem;
        text-wrap: pretty;
        line-height: 1.25rem;
    }
}

h3 {
    padding-block-end: 1rem;
}

/* citations at the bottom */
.citations {
    display: grid;
    padding-inline: 1rem;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    padding-block-end: 1rem;

    @media (width > 800px) {
	grid-template-columns: 1fr 1fr;
	}
}

/* items and what they look like */
.item {
    align-content: center;
    padding-block: 0.5rem;
    padding-inline: 0.5rem;
    font-size: 0.5rem;
    justify-content: center;
    background-color: #f9edbb;
    border: 1px solid #442f2a;
    text-align: center;
    }