:root {
    --bg-color: #0f1617;
}

body {
   background-color: var(--bg-color);
} 

html {
    font-size: 125%;
}

html {
    font-family: Helvetica Neue, sans-serif;
    background-color: #0f1617;
    color: #fdf9e6;
}

header {
    text-align: center;
    background-color: rgb(255, 94, 0);
    display: block;

}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf9e6;
    color: var(--bg-color);
    padding-block: 0.5rem 0;
    padding-inline: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.main-page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf9e6;
    color: var(--bg-color);
    padding-block: 0.5rem 0;
    padding-inline: 1rem;
    font-size: 1.5rem;
    font-weight: bold;

    .tab1 {
        border-radius: 1rem 1rem 0 0;
        color: #fdf9e6;
    }

    .tab2 {
        border-radius: 1rem 1rem 0 0;
        color: #fdf9e6;
    }

    .tab3 {
        border-radius: 1rem 1rem 0 0;
        color: #fdf9e6;
    }
}

.active {
    border-radius: 1rem 1rem 0 0;
}

.tabs {
    display: flex;
}

.tabs a {
    display: flex;
    align-items: center;
    padding-block: 0.5rem;
    padding-inline: 1rem;
}

.tab1 { 
    background-color: #518034; 
}
.tab2 { 
    background-color: #34549e; 
}
.tab3 { 
    background-color: #da4773; 
}

p {
    font-size: 0.95rem;
    padding-block-end: 1rem;
    line-height: 1.5rem;

    @media (width > 800px) {
	font-size: 1.25rem;
    padding-block-end: 1rem;
    line-height: 1.70rem;
	}
}

.gif {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    min-height: 60vh;
    background-image: url("../direction-1/gif.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-block-end: 1rem;
    border-block-end: #0f1617 dashed 0.1rem;

    ul{
        display: flex;
        justify-content: center;
        gap: 0.5rem 1rem;
    }

    li {
        text-align: left;
        font-size: 0.6rem;
        color: #da4773;
    }

    @media (min-width: 800px) {
    .gif {
    min-height: 90vh;
    }

    .gif li {
    font-size: 1.2rem;
    }
}
} 

.title {
    margin-block-start: 2rem;
    margin-block-end: 1rem;

}

/* .title {
    color: #fdf9e6;
    min-height: 20vh;

    h1 {
        color: #0f1617;
        font-size: 2.5rem;
    }
} */

h1 {
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    color: #fdf9e6;

    @media (min-width: 800px) {
    font-size: 5rem;
    text-wrap: blanced;
    line-height: 5rem;
  }
}

#main {
    padding-block-start: 2rem;
    color: #fdf9e6;
    font-size: 3rem;

    @media (min-width: 800px) {
    font-size: 5rem;
    padding-block-start: 5rem;
    padding-block-end: 1rem;
  }
}

.sub-title {
    text-align: center;

    @media (min-width: 800px) {
    font-size: 2rem;
    padding-block-end: 5rem;
  }
}

#top {
    font-size: 2rem;
    text-align: center;
    background-color: #0f1617;
    border-radius: 0 0 0.85rem 0.85rem;
    padding: 1rem;
    border-style: dashed;

    @media (min-width: 800px) {
    font-size: 4rem;
    line-height: 3.75rem;
    }
}

.circles {
  display: flex;
  gap: 0.5rem;
}

.circle {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.75rem;
}

.red { 
    background: #ff0000; 
}

.yellow { 
    background: #f2a93c; 
}

.green {
    background: #008000; 
}

.top-bar {
    background-color: #fdf9e6;
    padding-inline: 0.65rem;
    margin-block-start: 1rem;
    padding-block: 0.5rem;
    margin-inline: 1rem;
    border-radius: 1rem 1rem 0 0;

    @media (min-width: 800px) {
    margin-block-start: 3rem;
    margin-inline: 7rem;
    }
}

.screen {
    border-radius: 0 0 1rem 1rem;
    background-color: #fdf9e6;
    padding-inline: 0.25rem;
    padding-block-end: 0.25rem;
    margin-inline: 1rem;

    @media (min-width: 800px) {
    padding-inline: 0.25rem;
    padding-block-end: 0.25rem;
    margin-inline: 7rem;
    margin-block-end: 3rem;
    }
}

h2 {
    font-size: 0.85rem;
    text-align: center;
    font-weight: bold;
    margin-block: 0.75rem;
    padding: 0.5rem;
    text-wrap: pretty;

    @media (width > 800px) {
	font-size: 2rem;
    margin-block: 0rem;
	}

}

.one {
    border: dashed #0f1617 0.1rem;

    @media (width > 800px) {
	font-size: 1rem;
    text-wrap: balance;
	}
}

.list-items {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding-inline: 1rem;
    padding-block: 1rem;

  li {
    text-decoration: none;
    font-size: 0.9rem;
  }
}

.text-container {
    display: grid;
    padding-inline: 1rem;
    grid-template-columns: 1fr;
    gap: 0.5rem;

    @media (width > 800px) {
	grid-template-columns: 0.5fr 1fr;
    /* margin-inline-end: 2rem; */
    margin-block: 2rem;
    /* align-items: flex-start; */

    p {
        font-size: 1rem;
    }

	}
}

.section-title {
    font-size: 0.5rem;
    text-align: center;
    position: sticky;
    top: 1rem;
    z-index: 1;
    top: 0;

    @media (width > 800px) {
    margin-inline-end: 2rem;
    position: sticky;
    top: 0;
    z-index: 1;
}
}

footer {
    background-color: #fdf9e6;
    color: #0f1617;
    padding-block: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;

    @media (width > 800px) {
        font-size: 1rem;
    }

    ul {
    display: flex;
    justify-content: space-between;
}
}

.footer-item {
    padding: 0.5rem 1rem;

    @media (width > 800px) {
        font-size: 1rem;
    }
}

#code {
    font-family: monospace;
    margin-block-end: 2.5rem;
}

blockquote {
    font-weight: 300;
    font-style: italic;
    text-wrap: pretty;
    padding-inline-start: 1rem;
    line-height: 1.5rem;
    margin-block-end: 1rem;
    margin-inline-start: 1rem;
}

.person {
    padding-inline-start: 1rem;
    margin-block-start: 1rem;
}

.link {
    background-color: #0f1617;
    border: 0.1rem solid #fdf9e6;
    opacity: 80%;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    position: fixed;
    bottom: 1.5rem; 
    right: 1.5rem;
    z-index: 1000;
    justify-content: center;
    border-radius: 100%;
}

a.link01 {
    margin-inline: 0.3rem;
    padding-inline: 0.2rem;
    border-block:#0f1617 dashed 0.1rem;
}

a.link01:hover {
  color: #d1a33a;
}

.project {
    padding-block: 1rem;

    .eyebrow {
        font-size: 0.55rem;
        text-align: center;
        padding: 0;
        margin: 0;
        letter-spacing: 0.3rem;
}

    h1 {
        font-style: normal;
        font-size: 4rem;
        line-height: 3.3rem;
    }

}

#bold {
    font-weight: 600;
    font-size: 1.5rem;
    margin-block-end: 1rem;
}
