:root {
    --bg-color: #0f1617;
}

body {
   background-color: var(--bg-color);
} 

html {
    font-size: 125%;
}

html {
    font-family: Helvetica Neue, sans-serif;
    background-color: #0f1617;
    color: #fdf9e6;
}

header {
    text-align: center;
    background-color: rgb(255, 94, 0);
    display: block;

}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: #fdf9e6;
    color: var(--bg-color);
    padding-block: 1rem;
    padding-inline: 1rem;
    font-size: 0.55rem;
    border-block-end:#0f1617 dashed 0.1rem;
}

.main-nav li:first-child {
    margin-right: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.main-nav li:not(:first-child) {
    margin-left: 1rem;
}

footer {
    font-size: 0.85rem;
    text-align: center;
    background-color: #fdf9e6; 
    color: #121212;
    margin-block-start: 1rem;
    padding-block: 1rem;
    border-block-start:#0f1617 dashed 0.1rem;

    @media (width > 800px) {
	font-size: 1rem;
	}
} 

p {
    font-size: 0.95rem;
    padding-block-end: 1rem;
    line-height: 1.5rem;

    @media (width > 800px) {
	font-size: 1.25rem;
    padding-block-end: 1rem;
    line-height: 1.70rem;
	}
}

.gif {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    min-height: 60vh;
    background-image: url("../direction-1/gif.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-block-end: 1rem;

    /* display: flex;
    justify-content: space-between;
    gap: 0;
    padding-inline: 1rem;
    padding-block: 1rem;
    background-image: url("../direction-1/gif.gif");
    background-size: contain;
    background-repeat: no-repeat;

    li {
    text-decoration: none;
    } */

    ol {
        display: flex;
        justify-content: center;
        
        /* list-style: none; */
        /* padding: 0; */
        /* margin: 0; */
        gap: 0.5rem 1rem;
    }

    li {
        /* font-size: 0.9rem; */
        text-align: left;
        font-size: 0.6rem;
        color: #da4773;
    }

    @media (min-width: 800px) {
    .gif {
    min-height: 90vh; /* fills more of the screen on desktop */
    }

    .gif li {
    font-size: 1.2rem;
    }
}
}

/* #title { 
    font-size: 2rem;
    padding-block: 1rem;

    @media (width > 800px) {
	font-size: 3rem;
	}
} */

.title {
    color: #fdf9e6;
    min-height: 20vh;

    h1 {
        color: #0f1617;
        font-size: 2.5rem;
    }
}

h1 {
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    /* background-color: #d04533; 
	/* border-radius: 5rem; */ 
    color: #fdf9e6;
    /* padding-block-start: 2rem; */
    /* margin-inline: 1.5rem; */
    /* margin-block: 1rem; */
    /* padding:0.3rem; */

    @media (min-width: 800px) {
    font-size: 5rem;
    text-wrap: blanced;
    line-height: 5rem;
  }
}

#main {
    padding-block-start: 2rem;
    color: #fdf9e6;
    font-size: 3rem;

    @media (min-width: 800px) {
    font-size: 5rem;
    padding-block-start: 5rem;
    padding-block-end: 1rem;
  }
}

.sub-title {
    text-align: center;

    @media (min-width: 800px) {
    font-size: 2rem;
    padding-block-end: 5rem;
  }
}

#top {
    font-size: 2rem;
    /* margin-block-start: 1rem; */
    /* color: #2855a3; */
    text-align: center;
    background-color: #0f1617;
    border-radius: 0 0 0.85rem 0.85rem;
    padding: 1rem;
    border-style: dashed;



    @media (min-width: 800px) {
    font-size: 5rem;
    }
}

.circles {
  display: flex;
  gap: 0.5rem;
}

.circle {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.75rem;
}
.red { background: #ff0000; }
.green { background: #f2a93c; }
.blue { background: #008000; }

.top-bar {
    background-color: #fdf9e6;
    padding-inline: 0.65rem;
    margin-block-start: 1rem;
    padding-block: 0.5rem;
    margin-inline: 1rem;
    border-radius: 1rem 1rem 0 0;
    /* border-style: dashed; */
}

.screen {
    border-radius: 0 0 1rem 1rem;
    /* border: solid #fdf9e6 0.3rem; */
    background-color: #fdf9e6;
    padding-inline: 0.25rem;
    padding-block-end: 0.25rem;
    margin-inline: 1rem;
}

/* .window {
    background-color: #fdf9e6;
    margin-inline: 1rem;
    border-radius: 1rem;
} */

/* #top2 {
    font-size: 2rem;
    color:#da4773;

    @media (min-width: 800px) {
    font-size: 5rem;
    }
}
#top3 {
    font-size: 2rem;
    color:#44872b;

    @media (min-width: 800px) {
    font-size: 5rem;
    }
}
#top4 {
    font-size: 2rem;
    color:#d1a33a;
    margin-block-end: 1rem;

    @media (min-width: 800px) {
    font-size: 5rem;
    }
} */

h2 {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    margin-block: 1rem;
    padding: 0.75rem;
    /* border-radius: 5rem; */

    @media (width > 800px) {
	font-size: 2rem;
    margin-block: 0rem;
	}

}

.one {
    /* background-color: #2855a3;  */
    border: dashed #0f1617 0.1rem;

    @media (width > 800px) {
	font-size: 1rem;
	}
}

li {
    /* font-size: 0.75rem; */
    /* text-decoration: underline; */
    

    @media (width > 800px) {
	font-size: 1rem;
    line-height: 1.5rem;
	}
}

a.active {
    text-decoration: underline;
}

.list-items {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-inline: 1rem;
  padding-block: 1rem;
  

  li {
    text-decoration: none;
    font-size: 0.9rem;
  }
}

.text-container {
    display: grid;
    padding-inline: 1rem;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    /* padding-block-end: 1rem; */

    @media (width > 800px) {
	grid-template-columns: 0.5fr 1fr;
    margin-inline-end: 2rem;
    margin-block: 5rem;
    align-items: flex-start;

    p {
        font-size: 1rem;
    }

	}
}

.section-title {
    /* padding-block: 0.5rem;
    padding-inline: 0.5rem; */
    font-size: 0.5rem;
    text-align: center;
    position: sticky;
    top: 1rem;
    z-index: 1;
    background-color: #0f1617;
    top: 0;

    @media (width > 800px) {
    margin-inline-end: 2rem;
    position: sticky;
    top: 0;
    z-index: 1;
}
}

.footer {
  display: flex;
  justify-content: space-between;
  gap: 0;
  width: 100%;
  background-color: #fdf9e6;
  color: #0f1617;
}

.footer-item {
    /* font-size: 0.7rem; */
    padding: 1rem 1rem;
    display: block;
    text-align: center;
    text-decoration: none;

    @media (width > 800px) {
	font-size: 1rem;
    padding: 1rem 1rem;
    text-decoration: none;
}
}

#code {
    font-family: monospace;
}

blockquote {
    font-weight: 300;
    font-style: italic;
    text-wrap: pretty;
    /* border-inline-start: 0.5rem solid #da4773; */
    padding-inline-start: 1rem;
    margin-block-start: 2rem;
    line-height: 1.5rem;
    margin-block-end: 1rem;
}

.paul {
    padding-inline-start: 1rem;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

.code {
    margin-block-end: 2.5rem;
}

.link {
    background-color: #0f1617;
    border: 0.1rem solid #fdf9e6;
    opacity: 80%;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    position: fixed;
    bottom: 1.5rem; 
    right: 1.5rem;
    z-index: 1000;
    justify-content: center;
    /* border-radius: 50%; */
}

a.link01 {
    /* background: #2855a3; */
    margin-inline: 0.3rem;
    padding-inline: 0.2rem;
    border-block:#0f1617 dashed 0.1rem;
}

a.link01:hover {
  color: #d1a33a;
}

