header {
    text-align: center;
}

.header{
	min-height: 30vh;
    justify-content: space-between;
    position:relative;
    background: black;
    align-items: center;
    align-content: center;
}

p {
    color: white;
}

h1 {
    color: white;
    font-size: 1.5rem;
    padding-block: 0.5rem;
    text-wrap: pretty;

    @media (width > 800px) {
	font-size: 3rem;
	}
}

.main-nav {
    display: flex;
    justify-content: center;
    margin-inline: 1rem;
}

.main-nav a {
    font-size: 0.7rem;
    padding: 0.5rem 0.5rem;
    display: block;
    text-align: center;

    @media (width > 800px) {
	font-size: 1rem;
    padding: 1rem 1rem;
	}
}
