
h1 {
    margin-block-end: 3rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #240f1f;
    background-color: #fdf9e6;
    border: dashed #240f1f 0.1rem;
    padding-inline: 0.5rem;
    justify-content: center;
    padding-block: 0.5rem;
    display:inline-block;
    margin-block-end: 0.5rem;
}

a.link01 {
    background: #518034;
}

.section-title {
    position: static;
    text-align: left;
}

