
h1 {
    margin-block-end: 3rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #240f1f;
    background-color: #fdf9e6;
    border: dashed #240f1f 0.1rem;
    padding-inline: 0.5rem;
    justify-content: center;
    padding-block: 0.5rem;
    display:inline-block;
    margin-block-end: 0.5rem;
}

a.link01 {
    background: #518034;
}

.section-title {
    position: static;
    text-align: left;
}

.legend {

    ul {
        display: flex;
        flex-direction: column;
    }

    li {
        padding: 1rem;
        text-align: center;
        color:  #fdf9e6;
    }

    #item1 {
    background: #518034; 
}

    #item2 {
        background: #34549e;
}

    #item3 {
        background: #da4773;
}

    @media (width > 800px) {

        ul {
            flex-direction: row;
        }

        li {
            flex: 1;
            padding: 1rem 0;
        }
    }

}

#legend-text {
    margin-inline-start: 1rem;
    margin-block-end: 1rem;
}

/* footer {
    margin-block-start: 2rem;
} */