:root {
    --bg-color: #0f1617;
    --example-font: 'Helvetica Neue';
    --font-size: 1.5rem;
}

#block {
    margin-block-end: 1rem;
}

.card-wrapper {

    .screen {
        background-color: transparent;
        padding: 0;
    }
}

.project {
    text-align: center;
    margin-block: 5rem;

    @media (width > 800px) {
    margin-block: 5rem;
    }
}