@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fira+Code:wght@300..700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kristi&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Neonderthaw&family=Overpass+Mono:wght@300..700&family=Poiret+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sono:wght@200..800&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Sora:wght@100..800&family=Zilla+Slab+Highlight:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Rubik+Mono+One&family=Sora:wght@100..800&family=Zilla+Slab+Highlight:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Boldonse&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Rubik+Mono+One&family=Sora:wght@100..800&family=Zilla+Slab+Highlight:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Boldonse&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik+Mono+One&family=Sora:wght@100..800&family=Zilla+Slab+Highlight:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fira+Code:wght@300..700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kristi&family=Neonderthaw&family=Overpass+Mono:wght@300..700&family=Poiret+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sono:wght@200..800&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Sora:wght@100..800&family=Zilla+Slab+Highlight:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fira+Code:wght@300..700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kristi&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Neonderthaw&family=Overpass+Mono:wght@300..700&family=Poiret+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sono:wght@200..800&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');



html {
    font-size: 125%;
    font-family: 'MuseoModerno';
    background-color: rgb(255, 252, 247);
}

header {
    text-align: center;
}

.header{
	min-height: 30vh;
    justify-content: space-between;
    position:relative;
    align-items: center;
    align-content: center;
}

p {
    color: rgb(0, 0, 0);
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    padding-block: 0.5rem;
    text-wrap: pretty;
    line-height: 1.5rem;
    font-style: italic;
    font-weight: light;

    @media (width > 800px) {
	font-size: 3rem;
    line-height: 2.5rem;
	}
}

.main-nav {
    justify-content: center;
    display:grid;
    grid-template-columns: 1fr;
    position:relative;
    align-items:start;

    @media (width > 800px) {
	grid-template-columns: 1fr 1fr 1fr;
    
	}
}

.main-nav a {
    font-size: 1.5rem;
    padding: 0.5rem 0.5rem;
    display: block;
    text-align: center;
    padding-block: 1rem;

    @media (width > 800px) {
	font-size: 1rem;
    padding: 1rem 1rem;
	}
}

#one {
    background-color: #da4773;
    padding: 2rem;
    color: #fdf9e6;
    font-family: Helvetica Neue, sans-serif;
    font-weight: 300;

    @media (width > 800px) {
    padding: 5rem;
}
}

#two {
    background-color: #ffd57b;
    padding: 2rem;
    font-family: 'Rubik Mono One';

    @media (width > 800px) {
    padding: 5rem;
}
}

#three {
    background-color: #041cd7;
    padding: 2rem;
    font-family: 'DM Mono';
    color:  #f9f4eb;

    @media (width > 800px) {
    padding: 5rem;
}
}
