body {
    background-color: #240f1f;
}

.home svg {
    width: 2rem;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    flex: 0 0 auto;
}

.home {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.background {
    box-shadow: 0 0.5rem 2rem #00000033;
    background-color: #7a394d;
    padding-block-start: 1rem;
    padding-block-end: 5rem;
}

h2 {
    background-color: #240f1f;
}

.nav-item:nth-child(3) a::before {
    content: none;
}

.nav-item:nth-child(3) a {
    font-size: 0.5rem;

    /* for the iframe screen on home so it does not shrink weird  */
    @media (width > 300px) {
        font-size: 0.9rem;
    }

    @media (width > 800px) {
        font-size: 1rem;
    }

    @media (width > 1000px) {
        font-size: 1rem;
    }

    @media (width > 1300px) {
        font-size: 1.1rem;
    }
}

li:nth-child(3) a::before {
    content: none;
}

#highlight {
    background-color: #7a394d;
}

#space-after {
    padding-block-end: 2rem;
}

#sub-title {
    font-size: 1.65rem;
    margin-block-start: 0;
    text-decoration: underline;
    text-align: left;
    padding-block-end: 0;
    text-decoration: underline;
    text-decoration-color:#7a394d; 

    @media (width > 800px) {
        font-size: 1rem;
    }
    
    @media (width > 1000px) {
        font-size: 1.5rem;
    }
    
    @media (width > 1300px) {
        font-size: 2rem;
    }
}

.big-quote h1 {
    background-color: #fdf9e6;
    color:#272a31;
    text-shadow: 0 0rem 4rem #da4773;
}

.link01 {
    text-decoration: underline;
    text-decoration-color: #fdf9e6; 
}

.link01:hover {
    background-color: #fdf9e6;
    color: #240f1f;
}