html {
    font-size: 125%;
    font-family: Helvetica Neue, sans-serif;
}

header {
    align-content: center;
    text-align: center;
    background-color: rgb(255, 94, 0);
    background-blend-mode: hard-light;
    color: white;
    min-height: 30vh;
    color: white;
}

.main-nav {
    display: flex;
    justify-content: center;
    margin-inline: 1rem;
}

.main-nav a {
    font-size: 0.7rem;
    padding: 0.5rem 0.5rem;
    display: block;
    text-align: center;

    @media (width > 800px) {
	font-size: 1rem;
    padding: 1rem 1rem;
	}
}

main {
    margin: 1rem;
}

footer {
    font: 1rem;
    padding-inline: 2rem;
    padding-block: 2rem;
    margin-block: 1rem;
    color:white;
    background-color: black;
    border-radius: 1rem;
}

p {
    font-size: 1rem;
    padding-block-end: 1rem;
    line-height: 1.5rem;

    @media (width > 800px) {
	font-size: 1.25rem;
    padding-block-end: 1rem;
    line-height: 1.70rem;
	}
}

h1 {
    font-size: 3rem;
    text-align: center;

    @media (width > 800px) {
	font-size: 4rem;
	}
}

#title { 
    font-size: 2rem;
    padding-block: 1rem;

    @media (width > 800px) {
	font-size: 3rem;
	}
}

h2 {
    font-size: 1.5rem;
    text-align: left;
    margin-block: 1rem;

    @media (width > 800px) {
	font-size: 2rem;
	}
}

li {
    font-size: 0.75rem;
    line-height: 1rem;

    @media (width > 800px) {
	font-size: 1rem;
    line-height: 1.5rem;
	}
}

code {
    margin-inline: 1rem;
}