html {
    font-family: Helvetica Neue, sans-serif;
    background-color: #121212;
    color: #fdf9e6;
}

header {
    text-align: center;
    background-color: rgb(255, 94, 0);
    display: block;

}

.main-nav {
  display: flex;
  justify-content: space-between;
  gap: 0;
  width: 100%;
  background-color: #fdf9e6;
  color: #121212;
}

.main-nav a {
    font-size: 0.7rem;
    padding: 1rem 1rem;
    display: block;
    text-align: center;

    @media (width > 800px) {
	font-size: 1rem;
    padding: 1rem 1rem;
	}
}

/* main {
    margin: 1rem;
} */

footer {
    font-size: 0.85rem;
    text-align: center;
    background-color: #fdf9e6; /* No borders! */
    color: #121212;
    margin-block-start: 1rem;
    padding-block: 1rem;

    @media (width > 800px) {
	font-size: 1rem;
	}
}

p {
    font-size: 0.95rem;
    padding-block-end: 1rem;
    line-height: 1.5rem;

    @media (width > 800px) {
	font-size: 1.25rem;
    padding-block-end: 1rem;
    line-height: 1.70rem;
	}
}

.gif {
	display: flex;
	justify-content: center;
    object-fit: cover
}

img {
	display: block;
	inline-size: 100%;
}

/* #title { 
    font-size: 2rem;
    padding-block: 1rem;

    @media (width > 800px) {
	font-size: 3rem;
	}
} */

.title {
    color: #121212;
    min-height: 20vh;
    background-color: #fdf9e6;

    h1 {
        color: #121212;
        font-size: 2.5rem;
    }
}

h1 {
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    /* background-color: #d04533; /* No borders! */
	/* border-radius: 5rem; */ 
    color: #fdf9e6;
    /* padding-block-start: 2rem; */
    /* margin-inline: 1.5rem; */
    /* margin-block: 1rem; */
    /* padding:0.3rem; */

    @media (min-width: 800px) {
    font-size: 5rem;
    text-wrap: blanced;
    line-height: 5rem;
  }
}

#main {
    padding-block-start: 2rem;

    @media (min-width: 800px) {
    font-size: 5rem;
    padding-block-start: 5rem;
    padding-block-end: 1rem;
  }
}

.sub-title {
    text-align: center;

    @media (min-width: 800px) {
    font-size: 2rem;
    padding-block-end: 5rem;
  }
}

#top {
    font-size: 2rem;
    margin-block-start: 1rem;
    color: #2855a3;

    @media (min-width: 800px) {
    font-size: 5rem;
    }
}

#top2 {
    font-size: 2rem;
    color:#da4773;

    @media (min-width: 800px) {
    font-size: 5rem;
    }
}
#top3 {
    font-size: 2rem;
    color:#44872b;

    @media (min-width: 800px) {
    font-size: 5rem;
    }
}
#top4 {
    font-size: 2rem;
    color:#d1a33a;
    margin-block-end: 1rem;

    @media (min-width: 800px) {
    font-size: 5rem;
    }
}

h2 {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    margin-block: 1rem;
    padding: 0.75rem;
    border-radius: 5rem;

    @media (width > 800px) {
	font-size: 2rem;
    margin-block: 0rem;
	}

}

.one {
    background-color: #2855a3; /* No borders! */

    @media (width > 800px) {
	font-size: 1rem;
	}
}

.two {
    background-color: #da4773; /* No borders! */

    @media (width > 800px) {
	font-size: 1rem;
    text-wrap: pretty;
    line-height: 1rem;
	}
}

.three {
    background-color: #44872b; /* No borders! */
    text-wrap: pretty;

    @media (width > 800px) {
	font-size: 1rem;
    text-wrap: pretty;
    line-height: 1rem;
	}
}

.four {
    background-color: #d1a33a; /* No borders! */
    text-wrap: pretty;
    color: #121212;

    @media (width > 800px) {
	font-size: 1rem;
    text-wrap: pretty;
    line-height: 1rem;
	}
}

li {
    font-size: 0.75rem;
    text-decoration: underline;

    @media (width > 800px) {
	font-size: 1rem;
    line-height: 1.5rem;
	}
}

.list-items {
  display: flex;
  justify-content: space-between;
  gap: 0;
  padding-inline: 1rem;
  padding-block: 1rem;

  li {
    text-decoration: none;
  }
}


.text-container {
    display: grid;
    padding-inline: 1rem;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    /* padding-block-end: 1rem; */

    @media (width > 800px) {
	grid-template-columns: 0.5fr 1fr;
    margin-inline-end: 2rem;
    margin-block: 5rem;
    align-items: flex-start;

    p {
        font-size: 1rem;
    }

	}
}

.section-title {
    padding-block: 0.5rem;
    padding-inline: 0.5rem;
    font-size: 0.5rem;
    text-align: center;
    position: sticky;
    top: 1rem;
    z-index: 1;
    background-color: #121212;
    top: 0;

    @media (width > 800px) {
    margin-inline-end: 2rem;
    position: sticky;
    top: 0;
    z-index: 1;
}
}

.footer {
  display: flex;
  justify-content: space-between;
  gap: 0;
  width: 100%;
  background-color: #fdf9e6;
  color: #121212;
}

.footer-item {
    font-size: 0.7rem;
    padding: 1rem 1rem;
    display: block;
    text-align: center;

    @media (width > 800px) {
	font-size: 1rem;
    padding: 1rem 1rem;
    text-decoration: none;
}
}

#code {
    font-family: monospace;
}