html {
    font-family: Helvetica Neue, sans-serif;
    background-color:black;
    color: #fdf9e6;
}

header {
    text-align: center;
    background-color: rgb(255, 94, 0);
    display: block;

}

.main-nav {
  display: flex;
  justify-content: space-between;
  gap: 0;
  width: 100%;
  background-color: #fdf9e6;
  color: black;
}

.main-nav a {
    font-size: 0.7rem;
    padding: 1rem 1rem;
    display: block;
    text-align: center;

    @media (width > 800px) {
	font-size: 1rem;
    padding: 1rem 1rem;
	}
}

/* main {
    margin: 1rem;
} */

footer {
    font-size: 0.85rem;
    text-align: center;
    background-color: #fdf9e6; /* No borders! */
    color: black;
    margin-block-start: 1rem;
    padding-block: 1rem;
}

p {
    font-size: 0.95rem;
    padding-block-end: 1rem;
    line-height: 1.5rem;

    @media (width > 800px) {
	font-size: 1.25rem;
    padding-block-end: 1rem;
    line-height: 1.70rem;
	}
}

.gif {
	display: flex;
	justify-content: center;
    object-fit: cover
}

img {
	display: block;
	inline-size: 100%;
}

#title { 
    font-size: 2rem;
    padding-block: 1rem;

    @media (width > 800px) {
	font-size: 3rem;
	}
}

h1 {
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    /* background-color: #d04533; /* No borders! */
	/* border-radius: 5rem; */ 
    color: #fdf9e6;
    margin-inline: 1.5rem;
    margin-block: 1rem;
    padding:0.3rem;

    @media (min-width: 800px) {
    font-size: 5rem;
    text-wrap: blanced;
    line-height: 5rem;
  }
}

h2 {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    margin-block: 1rem;
    padding: 0.75rem;
    border-radius: 5rem;

    @media (width > 800px) {
	font-size: 2rem;
	}

}

.one {
    background-color: #2855a3; /* No borders! */
}

.two {
    background-color: #da4773; /* No borders! */
}

.three {
    background-color: #44872b; /* No borders! */
    text-wrap: pretty;
}

.four {
    background-color: #d1a33a; /* No borders! */
    text-wrap: pretty;
    color: black;
}

li {
    font-size: 0.75rem;
    text-decoration: underline;

    @media (width > 800px) {
	font-size: 1rem;
    line-height: 1.5rem;
	}
}

.list-items {
  display: flex;
  justify-content: space-between;
  gap: 0;
  padding-inline: 1rem;
  padding-block: 1rem;

  li {
    text-decoration: none;
  }
}

.text-container {
    display: grid;
    padding-inline: 1rem;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    /* padding-block-end: 1rem; */

    @media (width > 800px) {
	grid-template-columns: 1fr 1fr;
	}
}

.section-title {
    padding-block: 0.5rem;
    padding-inline: 0.5rem;
    font-size: 0.5rem;
    text-align: center;
}

/* .text-container {
    margin-inline: 2rem;
    display:grid;
    grid-template-columns: 1fr ;

    @media (width > 800px) {
    border-block-start: 2px solid var(--color-bl);
    padding-block-start: 1rem;
    column-gap: 1rem;	
    }
}

.section-title {
    /* z-index:0; */
	/* position:sticky; */
	/* font-weight: bold; */
	/* font-size: 1.5rem; */
	/* line-height: 1.5rem; */
    /* position:sticky; */
    /* top: 7rem; */
    /* padding-block: 1rem 2rem;
} */