html {
    font-family: Helvetica Neue, sans-serif;
    background-color:black;
    color: #fdf9e6;
}

header {
    text-align: center;
    background-color: rgb(255, 94, 0);
    display: block;

}

.main-nav {
  display: flex;
  justify-content: space-between;
  gap: 0;
  width: 100%;
}

.main-nav a {
    font-size: 0.7rem;
    padding: 1rem 1rem;
    display: block;
    text-align: center;

    @media (width > 800px) {
	font-size: 1rem;
    padding: 1rem 1rem;
	}
}

/* main {
    margin: 1rem;
} */

footer {
    font: 1rem;
    padding-inline: 2rem;
    padding-block: 2rem;
    margin-block: 1rem;
    background-color: black;
    border-radius: 1rem;
}

p {
    font-size: 1rem;
    padding-block-end: 1rem;
    line-height: 1.5rem;

    @media (width > 800px) {
	font-size: 1.25rem;
    padding-block-end: 1rem;
    line-height: 1.70rem;
	}
}

.gif {
	display: flex;
	justify-content: center;
    object-fit: cover
}

img {
	display: block;
	inline-size: 100%;
}

#title { 
    font-size: 2rem;
    padding-block: 1rem;

    @media (width > 800px) {
	font-size: 3rem;
	}
}

h1 {
    font-size: 1.65rem;
    text-align: center;
    font-weight: bold;
    background-color: #d04533; /* No borders! */
	border-radius: 5rem;
    margin-inline: 1.5rem;
    margin-block: 1.5rem;
    padding:0.3rem
}

h2 {
    font-size: 1.5rem;
    text-align: left;
    margin-block: 1rem;

    @media (width > 800px) {
	font-size: 2rem;
	}
}

li {
    font-size: 0.75rem;
    text-decoration: underline;

    @media (width > 800px) {
	font-size: 1rem;
    line-height: 1.5rem;
	}
}

code {
    margin-inline: 1rem;
}

.list-items {
  display: flex;
  justify-content: space-between;
  gap: 0;
  padding-inline: 1rem;

  li {
    text-decoration: none;
  }
}