.home {
    color: #da4773;
}

.third-title {
    font-size: 1.5rem;
    text-wrap: balanced;

    @media (width > 800px) {
	font-size: 2.35rem;
    text-wrap: balance;
    line-height: 3rem;
	}
}

.third-sub {
    font-size: 0.85rem;
    font-weight: 400;
    font-style: italic;
    text-wrap: pretty;
    padding: 0;
    margin: 0;
    padding-block-start: 0.15rem;

    @media (width > 800px) {
	font-size: 1.3rem;
    text-wrap: balance;
    padding-block-start: 0rem;
    line-height: 1.75rem;
	}
}

body {
    background-color: #240f1f;
}

#top {
    color: #fdf9e6;
    font-size: 1.3rem;
    text-wrap: pretty;
    background-color: #240f1f;
}


.one {
    background-color: #da4773;
    border: dashed #240f1f 0.1rem;

    @media (width > 800px) {
	font-size: 0.75rem;
    text-wrap: balance;
	}
}


a.link01 {
    background:#da4773;
    border-block: #240f1f dashed 0.1rem;
}

blockquote {
    border-inline-start: 0.5rem solid #da4773;
}

.section-title {
    background-color: #240f1f;
}

.link {
    background-color: #240f1f;
}

#small-title {
    font-size: 1.5rem;
    font-weight: 500;
    background-color: #da4773;
    border: dashed #240f1f 0.1rem;
    padding-inline: 0.5rem;
    justify-content: center;
    padding-block: 0.5rem;
    display:inline-block;
    margin-block-end: 0.5rem;
}
.active {
    background-color: #da4773;
    color: #fdf9e6;
}