
html {
    font-size: 125%;
    font-family: Helvetica, sans-serif;
}

header {
    align-content: center;
    text-align: center;
    background-image: url("../direction-2/image/pocadot.svg");
    background-size: cover;
    background-blend-mode: hard-light;
    color: white;
    min-height: 30vh;
    color: #442f2a;
}


#sub-header{
    color: #442f2a;
    font-weight: lighter;
}

p {
    color: white;
}

h1 {
    font-size: 2rem;
    padding-block: 0.5rem;
    text-wrap: pretty;
    font-weight: bold;

    @media (width > 800px) {
	font-size: 3rem;
	}
}

.main-nav {
    display: flex;
    justify-content: center;
    margin-inline: 1rem;
}

.main-nav a {
    font-size: 0.7rem;
    padding: 0.5rem 0.5rem;
    display: block;
    text-align: center;

    @media (width > 800px) {
	font-size: 1rem;
    padding: 1rem 1rem;
	}
}
