@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Sora:wght@100..800&family=Zilla+Slab+Highlight:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Rubik+Mono+One&family=Sora:wght@100..800&family=Zilla+Slab+Highlight:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Boldonse&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Rubik+Mono+One&family=Sora:wght@100..800&family=Zilla+Slab+Highlight:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Boldonse&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik+Mono+One&family=Sora:wght@100..800&family=Zilla+Slab+Highlight:wght@400;700&display=swap');

header {
    align-content: center;
    text-align: center;
    background-image: url("../direction-2/image/pocadot.svg");
    background-size: cover;
    background-blend-mode: hard-light;
    color: #442f2a;
    padding-block: 4rem;
}

article {
    margin: 1rem;
}

#sub-header{
    color: #442f2a;
    font-weight: lighter;
    font-family: 'Nunito';
    font-size: 0.75rem;

}
/* 
p {
    padding-block-end: 1rem;
    font-family: 'Nunito';
    text-wrap: pretty;
} */

h1 {
    font-size: 2rem;
    text-wrap: pretty;
    font-weight: bold;
    /* font-family: 'BBH Sans Hegarty'; */
    font-family: 'Rubik Mono One';


    @media (width > 800px) {
	font-size: 3rem;
	}
}

.main-nav {
    justify-content: left;
    display:grid;
    grid-template-columns: 1fr;
    position:relative;
    align-items:start;

    @media (width > 800px) {
	grid-template-columns: 1fr 1fr 1fr;
    
	}
}

.main-nav a {
    font-family: 'Rubik Mono One';
    font-size: 0.7rem;
    padding: 1rem 1rem;
    display: block;
    text-align: left;

    @media (width > 800px) {
	font-size: 1rem;
    padding: 1rem 1rem;
	}
}

#one {
    background-color: #442f2a;
    color: #f9f4eb;
}

#two {
    background-color: #f8a4b6;
}

#three {
    background-color: #ffd57b;
}

/* #title {
    margin-block-start: 1rem;
} */

h2 {
    font-family: 'Rubik Mono One';
    font-size: 4rem;
    justify-items: center;
    text-align: center;
    line-height: 3.3rem;
    color: #442f2a;
}

#italic {
    font-style: italic;
    font-weight: lighter;
    font-family: 'Nunito';
    color: #f8a4b6;
}

/* actual code
h2 {
    font-family: 'Rubik Mono One';
    font-size: 2.7rem;
    color: #442f2a;
} */

#h2-two {
    padding-inline-start: 2rem;
}

h3 {
    font-family: 'Nunito';
    font-size: 1.3rem;
    font-weight: bold;
    margin-block-end: 1rem;
}

/* #date {
    font-family: 'Nunito';
}

#author {
    font-family: 'Nunito';
} */

#pad {
    text-align: center;
}

/* #small-title {
    font-weight: bold;
} */

/* blockquote {
    padding-inline-start: 0.5rem;
    font-family: 'Nunito';
    padding-block-end: 2rem;
} */

ol {
    padding-block-end: 1rem;
}



/* added code for original article  */

h2 {
    font-family: 'Rubik Mono One';
    font-size: 4rem;
    justify-items: center;
    text-align: center;
    line-height: 3.3rem;
    color: #442f2a;
}

#italic {
    font-style: italic;
    font-family: 'Nunito';
    color: #f8a4b6;
}

#title {
    margin-block: 2rem;

}

#author {
    font-family: 'Nunito';
    text-align: center;
}


#date {
    font-family: 'Nunito';
    text-align: center;
    margin-block-end: 1rem;
}

#small-title {
    font-weight: bold;
    font-family: 'Rubik Mono One';
    font-size: 2rem;
    line-height: 1.75rem;
    color: #ffd57b;
    -webkit-text-stroke: 0.1px #442f2a;
    text-align: left;
    font-kerning:auto;
}


p {
    padding-block-end: 1rem;
    font-family: 'Nunito';
    text-wrap: pretty;
    line-height: 1.5rem;
}

blockquote {
    font-family: 'Nunito';
    font-weight: bold;
    background-color: #f8a4b6;
    border-radius: 1rem;
    padding: 1rem;
    text-wrap: pretty;
    margin-block-end: 1rem;
    border: 0.1rem #442f2a;
    border-style: solid;
}

.blockquote {
    font-family: 'Nunito';
    margin-block-end: 3rem;

}

