:root {
    --color: #39542a;
    --off-white: #fdf9e6;
}

body {
    background-color: #121d0c;
}

h2 {
    background-color: #121d0c;
}

.home {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.home svg {
    width: 2rem;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    flex: 0 0 auto;
}

.nav-item:nth-child(1) a::before {
    content: none;
}

.nav-item:nth-child(1) a {
    font-size: 0.5rem;

    /* for the iframe screen on home so it does not shrink weird  */
    @media (width > 300px) {
        font-size: 0.9rem;
    }

    @media (width > 800px) {
        font-size: 1rem;
    }
    
    @media (width > 1000px) {
        font-size: 1rem;
    }
    
    @media (width > 1300px) {
        font-size: 1.1rem;
    }
}

.background {
    background-color: var(--color);
    padding-block-start: 1rem;
    padding-block-end: 5rem;
}

#highlight {
    background-color: var(--color);
}

.big-quote h1 {
    background-color: var(--off-white);
    color:#272a31;
    text-shadow: 0 0 4rem #518034;
}

.quote-card .screen {
    padding: 0.75rem;
    margin: 0;

    @media (width > 600px) {
        padding: 1.5rem;
    }

    @media (width > 800px) {
        padding: 1.5rem;
    }

    @media (width > 1000px) {
        padding: 2rem;
    }
}