body {
    background-color: #121d0c;
}

.home svg {
    width: 2rem;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    flex: 0 0 auto;
}

.home {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.background {
    box-shadow: 0 0.5rem 2rem #00000033;
    background-color:#39542a;
    padding-block-start: 1rem;
    padding-block-end: 5rem;
}

.nav-item:nth-child(1) a::before {
    content: none;
}

.nav-item:nth-child(1) a {
    font-size: 0.5rem;

    /* for the iframe screen on home so it does not shrink weird  */
    @media (width > 300px) {
        font-size: 0.9rem;
    }

    @media (width > 800px) {
        font-size: 1rem;
    }
    
    @media (width > 1000px) {
        font-size: 1rem;
    }
    
    @media (width > 1300px) {
        font-size: 1.1rem;
    }
}

h2 {
    background-color: #121d0c;
}

#highlight {
    background-color: #39542a;
}

.big-quote h1 {
    background-color: #fdf9e6;
    color:#272a31;
    text-shadow: 0 0 4rem #518034;
}