body {
    background-color: #091428;
}

.home svg {
    width: 2rem;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    flex: 0 0 auto;
}

.home {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.background {
    box-shadow: 0 0.5rem 2rem #00000033;
    background-color: #3b5178;
    padding-block-start: 1rem;
    padding-block-end: 5rem;
}

.nav-item:nth-child(2) a::before {
    content: none;
}

.nav-item:nth-child(2) a {
    font-size: 0.5rem;

    /* for the iframe screen on home so it does not shrink weird  */
    @media (width > 300px) {
        font-size: 0.9rem;
    }

    @media (width > 800px) {
        font-size: 1rem;
    }
    
    @media (width > 1000px) {
        font-size: 1rem;
    }
    
    @media (width > 1300px) {
        font-size: 1.1rem;
    }
}

h2 {
    background-color: #091428;
}

.screen #author-names {
    font-size: 0.85rem;
    line-height: 0.85rem;
}

#highlight {
    background-color: #3b5178;
}

.big-quote h1 {
    color:#272a31;
    text-shadow: 0 0 4rem #34549e;
    font-size: 1.2rem;

    @media (width > 800px) {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    @media (width > 1300px) {
        font-size: 1.75rem;
        line-height: 1.75rem;
    }
}

.link01 {
    text-decoration: underline;
    text-decoration-color: #fdf9e6; 
}

.link01:hover {
    background-color: #fdf9e6;
    color: #091428;
}

sub {
    vertical-align: super;
    font-size: smaller;
    line-height: 0;
}