

body {
    background-color: #091428;
}

#top {
    color: #fdf9e6;
    font-size: 1.5em;
    text-wrap: balanced;
    padding-inline: 1rem;
    background-color:  #34549e;

    @media (width > 800px) {
	font-size: 2.15rem;
    text-wrap: balance;
    line-height: 2.5rem;
	}
}

.one {
    background-color: #34549e;
    border: dashed  #091428 0.1rem;

    @media (width > 800px) {
	font-size: 0.75rem;
    text-wrap: balance;
	}
}

.section-title {
    @media (width > 800px) {
	margin-inline-end: 1rem;
	}
}

a.link01 {
    background:#34549e;
    border-block:  #091428 dashed 0.1rem;
}

blockquote {
    border-inline-start: 0.5rem solid #34549e;
}

.section-title {
    background-color:  #091428;
}

.link {
    background-color: #0f2141;
}

.active {
    background-color: #34549e;
    color: #fdf9e6;
}